*{
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;600&family=Roboto+Serif:ital,opsz,wght@1,8..144,200&family=Roboto:ital,wght@0,100;1,500&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(186, 203, 218);
}


/* header*/


.encabezado{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    box-shadow: 0px 2px 4px rgb(0, 0, 0);
}




.verde{
    color: rgb(137, 143, 143);
}


.boton{
    background-color: rgb(209, 209, 209);
    color: rgb(252, 251, 251);
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
}


.boton:hover{
    background-color: rgb(178, 214, 255);
    color: rgb(3, 3, 3);
    cursor: pointer;
}


.encabezado li{
    list-style-type: none;
    display: inline-block;
}


.encabezado li a{
    text-decoration: none;
    margin: 10px;
    color: black;
    font-size: 1.5rem;
}


/* Banner*/


.banner{
    background-image: url("..//img/@FERRAZZANO.ESTETICA.png") ;
    background-repeat: no-repeat; ;
    height: calc(100vh - 100px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


}


.banner::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgb(0, 0, 0, 0.2);
    z-index: 0;
}


.bannerContenido{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.bannerContenido h2{
    font-size: 2rem;
    font-weight: bold;
    color: aliceblue;
    margin-bottom: 10px;


}


.bannerContenido p{
    color: aliceblue;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Rubik Mono One', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}


.bannerContenido .boton{
    margin-top: 10px;
}


/*Destinos*/


.tratamientos{
    text-align: center;
    margin: 10vh;
    border-bottom: 1px solid black;


}


.tratamientos h3{
    color: rgb(80, 80, 80);
    text-transform: uppercase ;
    font-size: 3rem;


}


.tratamientos p{
    font-size: 4rem;
    color: black;
    padding: 10px;
}


.contenedorTratamientos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.tratamientos{
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}


.tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border: 1px solid white;
    padding: 20px;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
    margin: 10px;
}


.tarjeta img{
    max-width: 100%;
}


.tarjeta p{
    margin: 10px 0;
}


.tarjeta button{
    background-color: rgb(178, 214, 255);
    color: rgb(99, 99, 99);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}


.tarjeta button:hover{
    background-color: rgb(50, 69, 243);


}








/*profesionales*/

.contenedorProfesonales{
    display: flex;
    margin: 10vh;
}


/* footer*/

.footer{
    background-color: #212121;
    color: #fff;
    padding: 20px 0;
}


.footerContenido{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.footer h4{
    font-size: 1.5rem;
    margin-bottom: 10px;
}


.infoContacto p,
.redesSociales a{
    margin: 5px 0;
    font-size: 1.2rem;
}


.redesSociales a{
    color: yellow;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.5rem;
}


.redesSociales a:hover{
    color: lightgreen;
}




.footer i{
    margin-right: 10px;
}


/*BODY*/

body{
    background-color: rgb(211, 205, 206);
}

/*HEADER*/

header{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px 20px;
}

.logo{
    width: 150px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(204, 139, 150);
}

/*MAIN*/

main{
    margin: 20px;
    padding: 20px;
}

h1,
h2{
    text-align: center;
    text-decoration: underline;
    margin: 20px 0px;
}


/*FOOTER*/


footer{
    margin: 20px;
    padding: 20px;
    border-top: .0625rem solid black;
    text-align: center;
}


.contenedorMED{
    margin: 3px;
    border: 4px solid grey;
    border-radius: 2px;
}

.imgMED{
    display: block;
    width: 50%;
    height: auto;
    margin: auto;

}

.contenedorAparatologia{
    margin: 3px;
    border: 4px solid grey;
    border-radius: 2px;
}

.imgAparatologia{
    display: block;
    width: 50%;
    height: auto;
    margin: auto;
}

.contenedorAparatologia p{
    background-color: gray;
    color: rgb(243, 205, 149);
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.contenedorAntiage{
    margin: 3px;
    border: 4px solid grey;
    border-radius: 2px;
}

.imgAntiage{
    display: block;
    width: 50%;
    height: auto;
    margin: auto;
}

.parrafoAntiage{
    text-align: center;
    text-decoration: underline;
    margin: 20px 0px;
}


/*IFRAME*/

iframe{
    display: block;
    margin: auto;
}


/*FORMULARIO*/

form{
    margin-top: 20px;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(117, 116, 114);
}

input,
textarea{
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(209, 208, 208);
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.botonFormulario{
    background-color: rgb(163, 170, 170);
    color: antiquewhite;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}



/*vista tablet*/
/* 768 hasta 1023*/

@media (max-width:1023px){
    /*header*/

    .encabezado{
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .encabezado .boton{
        display: none;
    }


/*banner*/

.bannerContenido p{
    font-size: 2.5rem;
}
    /*tratamientos*/
    
    .tratamientos{
        margin: 5vh;
        font-size: 2rem;
    }

.tratamientos h3,
.tratamientos p{
    font-size: inherit;
}

.contenedorTratamientos{
    grid-template-columns: 1fr 1fr;
}


/*profesionales*/

.contenedorProfesionales{
    flex-direction: column ;
}

/*footer*/

.footerContenido{
    flex-direction: column;
    text-align: center;
}

}
    


/*movil*/

@media (max-width: 768px){

/* tratamientos*/

.contenedorTratamientos{
    grid-template-columns: 1fr;
}
}